.timer-wrapper {
  width: 30%;
  margin: 0 auto;
  text-align: center;

  .timer-value {
    font-size: 55px;
  }
  .timer-buttons {
    margin-top: 20px;

    .timer-button {
      margin: 0 5px;
      height: 40px;
      width: 100px;
    }
  }
}
